{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
  portal
{% endblock %}

{% block link %}
  <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
  <link href="{% static 'portal/css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div id="portal-background">
    <div id="portal-title-container">
      <h1 id="portal-title">POKEMON</h1>
    </div>
    <figure id="poke-fig">
      <img id="poke-thumbnail" src="{{ rand_poke_uri }}">
      <figcaption id="poke-thumbnail-label"> {{ rand_poke_name }} </figcaption>
    </figure>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">

</script>

{% endblock %}
