body {
  background: -moz-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, black));
  background: -webkit-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, black 100%);
  background: radial-gradient(center, circle cover, white 0%, black 100%); }

.my-nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(-35deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(255, 170, 200, 0.1) 40%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 400%;
  background-position: 0 100%; }
  .my-nav li {
    float: left; }
    .my-nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      .my-nav li a:hover:not(.active) {
        background-color: rgba(255, 170, 200, 0.1); }
  .my-nav:hover {
    background-position: 100% 0;
    transition: all 1000ms; }
