body {
  background: -moz-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, black));
  background: -webkit-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, black 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, black 100%);
  background: radial-gradient(center, circle cover, white 0%, black 100%); }

#portal-title {
  font-family: "Cinzel Decorative"; }

#portal-title-container {
  text-align: center;
    text-align-position: relative;
    text-align-height: 100%; }

#mike-img {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
