@import 'base/_variables.sass'
@import 'base/_mixins.sass'

body
	@include radial-gradient($background_start, $background_end)


#portal-title
	font-family: $title_font_family

#portal-title-container
	text-align: center
  position: relative
  height: 100%

#mike-img
	border-radius: 50%
	@include center()
